{{- if .Capabilities.APIVersions.Has "cert-manager.io/v1/ClusterIssuer" }}
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  selfSigned: {}
{{- end }}
