apiVersion: 1

datasources:
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    uid: clickhouse-ds
    access: proxy
    editable: true
    isDefault: true

    jsonData:
      host: clickhouse-server        
      port: 9000                     
      protocol: native
      secure: false

      username: admin
      tlsSkipVerify: false

      traces:
        otelEnabled: true

      logs:
        otelEnabled: true
        useOTel: true

    secureJsonData:
      password: "admin"
