@tailwind base;
@tailwind components;

@layer base {
  body {
    margin: 0;
    padding: 0;
  }

  :root {
    --github-icon: url("@/assets/Github.png");
    --agent-directory-icon: url("@/assets/Agent_directory.png");
    /*     --github-icon: url("@/assets/Github_lightmode.png");
    --agent-directory-icon: url("@/assets/Agent_Icon_light.png");*/
  }

  .theme-icon-github {
    content: var(--github-icon);
  }

  .theme-icon-agent-directory {
    content: var(--agent-directory-icon);
  }
}

@layer components {
  .app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--app-background);
  }

  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--app-background);
  }
}

@keyframes dots {
  0%,
  20% {
    content: "";
  }
  40% {
    content: ".";
  }
  60% {
    content: "..";
  }
  80%,
  100% {
    content: "...";
  }
}

.loading-dots::after {
  content: "";
  animation: dots 1.5s steps(4, end) infinite;
}
